/* Style spécifique au footer */

.main-page__footer {
	background-color: rgb(110, 109, 109);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
	width: 100%;
	margin-top: 2rem;
	flex-direction: column;
}

.footer-text {
	color: rgba(255, 255, 255, 0.397);
}

.footer-link {
	display: flex;
	justify-content: center;
}

.footer-new-window {
	width: 1rem;
	margin-left: 0.25rem;
}
